* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

h1 {
  margin-top: 30px;
}

.calculator {
  width: 320px;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 15px;
  background-color: lavender;
}

.display {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  padding: 8px;
  font-size: 20px;
  text-align: right;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  color: black;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.buttons button {
  padding: 15px;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.buttons button:hover {
  background-color: rgb(207, 207, 207);
  transform: scale(0.9);
  color: black;
}

#zero {
  grid-column: span 2;
}

.action{
    background-color: red;
}

.operator{
    background-color: rgb(129, 66, 184);
}

.operand{
    background-color: rgb(56, 91, 161);
}

.operator.active {
  background-color: black;
  color: white;
  transform: scale(1.12);
  transition: transform 0.15s ease, background-color 0.15s ease;
}
.operator.active:hover {
  background-color: black;
  color: white;
  transform: scale(1.12);
}
